@import "tailwindcss";


/* Light mode (default) variables */
:root {
  --background: #1F1F1F;
  --foreground: #1F1F1F;

  --primary: #3D3027;
  --accent: #B29075;
  --dark: #0f0f0f;
  --faded: #1a1a1a;
  --text: #D2D5DA;
  --text-body: #FCFCFC;

  --font-heading: "Orbitron", sans-serif;
  --font-body: "Carrois Gothic", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-text: var(--text);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #be9463;
    --accent: #c1a47b;
    --dark: #ffffff;
    --faded: #1a1a1a;
    --text-light: #f1f1f1;
    --text-muted: #777777;
  }
} */

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}


/*  */

 @keyframes movePulse {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-5px) scale(1.2); }
    100% { transform: translateY(0) scale(1); }
  }

  .animate-movePulse {
    animation: movePulse 1.5s infinite;
  }

  @keyframes pulse {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 1; }
  }

  .animate-pulse {
    animation: pulse 2s infinite;
  }

  .bg-image{
    background-image: url("../../public/sparkle-background.png");
  }

  .animated-hr {
  border: none;
  height: 4px;
  background: linear-gradient(90deg,  var(--accent), white,  var(--accent));
  background-size: 200% 100%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animated-vertical {
  width: 4px;
  height: 200px; /* Adjust as needed */
  background: linear-gradient(180deg, var(--accent), white, var(--accent));
  background-size: 100% 200%;
  animation: vertical-shine 2s linear infinite;
}
.counter-number {
  font-variant-numeric: tabular-nums;
}

@keyframes vertical-shine {
  0% {
    background-position: 0 200%;
  }
  100% {
    background-position: 0 -200%;
  }
}
